<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Hi <%=name%>,</p>
    <br>
    <p>Please use the below link to change password. The link will be active for next 10 mins.</p>
    <p><a href=<%=url%>>Change Password Link</a></p>
    <br>
    <br>
    <p>
        <span>Thanks,</span>
        <span>Social Team</span>
    </p>
</body>
</html>